@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
body{ margin:0;
      font-family: 'Raleway', sans-serif;
      
}
nav{ background-color:lightsteelblue;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav div {
    margin: 25PX;
}
.barra {
    display: flex;
}
.ele:hover{ color: rgb(136, 105, 20);
    font-weight: bold;
}
.hamb {width: 100%;
       height: auto;
       display: none;
}

.main {

     display: flex;
     justify-content: space-between;

    
}

div img { width: 100%;
         height: auto;   
}

header {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 10px;
    flex: 1 3 60vw;
  
         
}

aside{ padding: 25px;
     flex: 2 1 20vw; 
     margin-left: 30px;
  
}

.card { margin-bottom: 50px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}
.card-text {
    padding: 15px
}
p {
    text-align: justify;
}


@media (max-width: 650px){
    
    
        .main { 
                flex-wrap: wrap;
                flex-direction: column;
                padding-left: 20px;
     }

    aside{ display: flex;
        flex-direction: column;
        margin: 2px;
        padding-bottom: 10%;}

    .hamb {
        display: block;
        margin-left: 10px;
    }

    nav { justify-content: flex-end;
}
    .barra{ display: none}
}


@media (max-width: 1400px) and (min-width: 599px){ 
    .main{
            flex-wrap: wrap;
            flex-direction: column;    
 }

    aside{ 
    display: flex;
    justify-content: space-evenly;

}
    aside > div { width: 30%;}
}

